{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Нотариус Ковальчук Юлия Игоревна</title>
  </head>
  <body style="font-family: 'Oswald'">
    <div style="background-color: #F5F5F5" class="d-none d-md-block text-right">
            <h6 class="mr-5">
                <img style="height: 25px" src="{% static 'icons8-marker-50.png' %}" alt="">г. Симферополь, ул. Толстого, д. 10
                <img style="height: 25px" src="{% static 'icons8-iphone-50.png' %}" alt=""><a style="color: black" href="tel:+79787273217">+7(978)-770-28-60</a>
            </h6>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="#"><img src="{% static 'logo.png' %}" style="height: 70px" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a style="color: #E3BE78" class="nav-link" href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a onmouseover="this.style.color='#E3BE78';" onmouseout="this.style.color='rgba(0,0,0,.5)';" class="nav-link anch" href="{% url 'index' %}#uslugi">Нотариальные действия</a>
          </li>
          <li class="nav-item">
            <a onmouseover="this.style.color='#E3BE78';" onmouseout="this.style.color='rgba(0,0,0,.5)';" class="nav-link anch" href="{% url 'index' %}#prices">Тарифы</a>
          </li>
          <li class="nav-item">
            <a onmouseover="this.style.color='#E3BE78';" onmouseout="this.style.color='rgba(0,0,0,.5)';" class="nav-link anch" href="{% url 'index' %}#company">О нас</a>
          </li>
          <li class="nav-item">
            <a onmouseover="this.style.color='#E3BE78';" onmouseout="this.style.color='rgba(0,0,0,.5)';" class="nav-link anch" href="{% url 'index' %}#contacts">Контакты</a>
          </li>
        </ul>
          <a class="my-2 my-lg-0" href="{% url 'zapis' %}"><button class="btn my-2 my-sm-0" type="submit">Записаться на прием</button></a>
      </div>
    </nav>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Онлайн запись</li>
      </ol>
    </nav>
    <div class="container">
        <h1 class="text-center">Онлайн запись на прием</h1>
        <form class="mt-3">
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label for="datepicker">Выберите дату</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><img style="height: 20px" src="{% static 'icons8-calendar-50.png' %}" alt=""></div>
                            </div>
                            <input name="date" id="datepicker" type="text" class="form-control" required>
                          </div>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="timepicker">Выберите Время</label>
                    <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><img style="height: 20px" src="{% static 'icons8-clock-50.png' %}" alt=""></div>
                            </div>
                            <input name="time" id="timepicker" type="text" class="form-control" required>
                    </div>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="name">Ваше Имя</label>
                    <input name="name" id="name" type="text" class="form-control" required>

                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="phone">Ваш Телефон</label>
                    <input name="phone" id="phone" type="text" class="form-control" required>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="email">Ваш e-mail</label>
                    <input name="email" id="email" type="text" class="form-control">
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="prav_status">Правовой статус</label>
                    <select name="prav_status" id="prav_status" class="form-control">
                      <option selected>Физическое лицо</option>
                      <option>Юридическое лицо</option>
                    </select>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="notary_action">Нотариальное действие</label>
                    <select name="notary_action" id="notary_action" class="form-control">
                      <option selected>Выберите</option>
                      <option>Договоры</option>
                      <option>Доверенности</option>
                      <option>Договор купли-продажи недвижимого имущества</option>
                      <option>Договор дарения</option>
                      <option>Брачный договор</option>
                      <option>Договор займа</option>
                      <option>Договор ренты</option>
                      <option>Соглашение о разделе совместно нажитого имущества</option>
                      <option>Соглашение об уплате алиментов</option>
                      <option>Прочие договоры</option>
                      <option>Наследство</option>
                      <option>Прочие доверенности</option>
                      <option>Доверенность на автомобиль</option>
                      <option>Доверенность на ведение дел в суде</option>
                      <option>Доверенность на регистрацию прав</option>
                      <option>Доверенность на управление и распоряжение имуществом</option>
                      <option>Согласия</option>
                      <option>Прочие согласия</option>
                      <option>Согласие родителей на выезд ребенка</option>
                      <option>Согласие супруга на сделку</option>
                      <option>Обеспечение доказательств</option>
                      <option>Свидетельствование подлинности подписей на документах</option>
                      <option>Передача заявлений и иных документов</option>
                      <option>Удостоверение</option>
                      <option>Удостоверение других фактов, предусмотренных действующим законодательством</option>
                      <option>Удостоверение времени предъявления документов</option>
                      <option>Удостоверение тождественности личности гражданина с лицом, изображенным на фотографии</option>
                      <option>Удостоверение факта нахождения гражданина в определенном месте</option>
                      <option>Удостоверение факта нахождения гражданина в живых</option>
                      <option>Регистрация уведомлений о залоге движимого имущества</option>
                      <option>Принятие в депозит денежных сумм и ценных бумаг</option>
                      <option>Копии</option>
                      <option>Свидетельствование верности копий с копии документа</option>
                      <option>Свидетельствование верности копий с подлинников документов</option>
                      <option>Удостоверение равнозначности фактов</option>
                    </select>
                </div>

                <div class="form-group col-12 col-md-6">
                    <label for="comment">Ваш комментарий</label>
                    <div class="input-group">
                        <input name="comment" id="comment" type="text" class="form-control">
                    </div>
                </div>


                <div class="col-12"><button id="btn_question" type="submit" class="btn btn-primary btn-lg float-right">Записаться</button></div>
            </div>
        </form>
    </div>


    <footer id="footer-zapis" style="background-color: #EBEEF0">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12 col-md-6 mt-3">
                    <h5>Адрес:
                        <br>
                        <img style="height: 25px" src="{% static 'icons8-marker-50.png' %}" alt="">г. Симферополь, ул. Толстого, д. 10
                    </h5>
                    <h5>Время работы:
                        <br>
                        <img style="height: 25px" src="{% static 'icons8-clock-50.png' %}" alt="">
                        Пн-Пт с 9:00 - 17:00
                        <br>
                        Сб-Вс Выходной
                    </h5>
                </div>
                <div class="col-12 col-md-6 mt-3">
                    <h5>Контакты:
                        <br>
                        <img style="height: 25px" src="{% static 'icons8-iphone-50.png' %}" alt=""><a style="color: black" href="tel:+79787273217">+7(978)-770-28-60</a>
                        <br>
                        <img style="height: 25px" src="{% static 'icons8-composing-mail-50.png' %}" alt="">u100500@mail.ru
                    </h5>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link  href="{% static 'datepicker.css' %}" rel="stylesheet">
    <script src="{% static 'datepicker.js' %}"></script>
    <script src="https://unpkg.com/imask"></script>

      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="{% static 'datepicker-ru.js' %}"></script>
  <script>
  $( function() {
      $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
    $( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
  } );
  $(document).ready(function () {
      $('.amo-brand__link-holder').empty()
  })
  </script>

    <script>
        var phoneMask = IMask(
          document.getElementById('phone'), {
            mask: '+{7}(000)000-00-00'
          });
        var element = document.getElementById('datepicker');
        var momentFormat = 'DD/MM/YYYY';
        var momentMask = IMask(element, {
          mask: Date,
          pattern: momentFormat,
          lazy: false,
          min: new Date(1970, 0, 1),
          max: new Date(2030, 0, 1),

          format: function (date) {
            return moment(date).format(momentFormat);
          },
          parse: function (str) {
            return moment(str, momentFormat);
          },

          blocks: {
            YYYY: {
              mask: IMask.MaskedRange,
              from: 1970,
              to: 2030
            },
            MM: {
              mask: IMask.MaskedRange,
              from: 1,
              to: 12
            },
            DD: {
              mask: IMask.MaskedRange,
              from: 1,
              to: 31
            },
            HH: {
              mask: IMask.MaskedRange,
              from: 0,
              to: 23
            },
            mm: {
              mask: IMask.MaskedRange,
              from: 0,
              to: 59
            }
          }
        });
    </script>
    <script>
        var element = document.getElementById('timepicker');
        var momentFormat = 'HH:mm';
        var momentMask = IMask(element, {
          mask: Date,
          pattern: momentFormat,
          lazy: false,
          min: new Date(1970, 0, 1),
          max: new Date(2030, 0, 1),

          format: function (date) {
            return moment(date).format(momentFormat);
          },
          parse: function (str) {
            return moment(str, momentFormat);
          },

          blocks: {
            YYYY: {
              mask: IMask.MaskedRange,
              from: 1970,
              to: 2030
            },
            MM: {
              mask: IMask.MaskedRange,
              from: 1,
              to: 12
            },
            DD: {
              mask: IMask.MaskedRange,
              from: 1,
              to: 31
            },
            HH: {
              mask: IMask.MaskedRange,
              from: 0,
              to: 23
            },
            mm: {
              mask: IMask.MaskedRange,
              from: 0,
              to: 59
            }
          }
        });
    </script>
  </body>
</html>